.git
.DS_Store

**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.venv
**/venv
**/node_modules
htmlcov
coverage.xml
test-results

.env
.env.*
*.pem
*.key
*.crt
*.p12
*.pfx
keys
gke
